.games-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border: 2px solid #00ff00;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .games-list {
    padding: 30px;
  }
}

@media (min-width: 1440px) {
  .games-list {
    padding: 40px;
  }
}
