.new-post-page {
  padding: 40px;
  border: 2px solid #00ff00;
  margin-top: 30px;
}

.new-post-page h1 {
  font-size: 36px;
  text-align: center;
}

.new-post-page button {
  width: 100%;
  background-color: #0f0f0f;
  color: #00ff00;
  border: 2px solid #00ff00;
}

.new-post-page button:hover {
  background-color: #00ff00;
  color: #0f0f0f;
}
